@import "../core/reset";
@import "../abstract/breakpoint";
@import "../abstract/variables";
@import "../abstract/mixins";

header {
    width: 100%;
    height: 80px;
    background-color: $bg-color-primary;
    z-index: z-index(modal);
    position: fixed;
    
    .logo {
        flex: 1;
        height: 80px;
        @include flexCenter(row, flex-start, center);

        @include breakpoint(medium-to-large){
            flex: 0;
        }

        @include breakpoint(large-up){
            flex: 0;
        }        

        img {
            width: 100px;
            cursor: pointer;

            @include breakpoint(medium-to-large){
                width: 100px;
            }

            @include breakpoint(large-up){
                width: 100px;
            }
        }
    }        

    .navigation {
        flex: 2;
        position: relative;
        transition: all .3s ease;
        @include flexCenter(row, flex-end, center);

        @include breakpoint(medium-to-large){
            flex: 3;
        }

        @include breakpoint(large-up){
            flex: 3;
        }

        .toggle {
            width: 30px;
            display: flex;
            cursor: pointer;
            @include flexCenter(column, center, flex-end);
            
            @include breakpoint(medium-to-large){
                display: none;
            }

            @include breakpoint(large-up){
                display: none;
            }
    
            .toggle-btn {
                width: 30px;
                border-bottom: 3px solid $text-color-secondary;
                border-radius: 10px;
            }
        
            .center {
                margin: 8px 0;
            }
        }
    
        nav {
            height: calc(100vh - 80px);
            width: calc(100% + 40px);
            left: 110%;
            top: 80px;
            position: absolute;
            background-color: rgba(0,0,0,.9);
            z-index: z-index(modal);
            transition: all ease .5s;

            @include breakpoint(medium-to-large){
                display: block;
                height: initial;
                position: static;
                background-color: transparent;
                z-index: z-index(default); 
            }

            @include breakpoint(large-up){
                display: block;
                height: initial;
                position: static;
                background-color: transparent;
                z-index: z-index(default); 
            }
    
            ul {
                list-style: none;
                color: #fff;
                margin-top: 20px;

                @include breakpoint(medium-to-large){
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    @include flexCenter(center, flex-end);
                }

                @include breakpoint(large-up){ 
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    @include flexCenter(center, flex-end);
                }
            }
    
            li {
                margin-bottom: 30px;
                text-transform: uppercase;
                font-size: 15px;
                font-weight: 600;
                position: relative;

                @include breakpoint(medium-to-large){
                    margin: 0;
                    padding: 0 5px;
                    display: inline-block;
                    font-size: 12px;                    
                }
                
                @include breakpoint(large-up){                    
                    margin: 0;
                    padding: 0 10px;
                    display: inline-block;
                    font-size: 12px;
                }

                a {
                    transition: .3s linear;
                    padding-bottom: 30px;

                    &::before {
                        content: '';
                        position: absolute;
                        bottom: -10px;
                        right: 0;
                        width: 0%;
                        height: 2px;
                        background: $text-color-secondary;
                        transition: all linear .2s;
                    }

                    &:hover {                        
                        color: $text-color-secondary;
                    }

                    &.active::before,
                    &:hover::before {
                        left: 0;
                        width: 100%;
                    }
                }
            }        
        } 
    }       
}



